

# `openssl rand -base64 32`
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=8702f4e149c20be360ca0a05604c07af # https://generate-secret.vercel.app/32
AUTH_URL=http://localhost:3000/api/auth


# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=Ov23liuUEipTCBAeM1NP
AUTH_GITHUB_SECRET=5528770d96afb1bbcaac519d9e97a0637236f6e3